*.O
*.LEV
*.EXE

compiled/
DJGPP/
set_djgpp_env.bat
start_dosbox.sh
dosbox.conf
compile.bat

dat/DATA
dat/DATA.BAS
dat/DATA.OLD
dat/DLB.LST
dat/DUNGEON
dat/DUNGEON.PDF
dat/MSDOSHLP.TXT
dat/NHDAT
dat/OPTIONS
dat/ORACLES
dat/QUEST.DAT
dat/RUMORS
include/DATE.H
include/DGN_COMP.H
include/LEV_COMP.H
include/ONAMES.H
include/PATCHLEV.H
include/PATCHLEV.OLD
include/PCTILES.H
include/PCVIDEO.H
include/PM.H
include/PORTIO.H
include/TILE.H
include/VIS_TAB.H
src/DAT.TAG
src/DGN_FLEX.C
src/DGN_MAIN.C
src/DGN_YACC.C
src/DLB_MAIN.C
src/GETLINE.C
src/INSTALL.TAG
src/JTP_DEF.C
src/JTP_DOS.C
src/JTP_GEN.C
src/JTP_GFL.C
src/JTP_GRA.C
src/JTP_KEYS.C
src/JTP_MOU.C
src/JTP_TXT.C
src/JTP_WIN.C
src/LEV_FLEX.C
src/LEV_MAIN.C
src/LEV_YACC.C
src/MAKEDEFS.C
src/MAKEFILE
src/MONSTR.C
src/MSDOS.C
src/NETHACK.LNK
src/NETHACK1.TIB
src/NETHACKO.TIB
src/PANIC.C
src/PCKEYS.C
src/PCMAIN.C
src/PCSYS.C
src/PCTILES.C
src/PCTTY.C
src/PCUNIX.C
src/RECOVER.C
src/SOUND.C
src/SP_LEV.TAG
src/TERMCAP.C
src/THINTILE.C
src/THINTILE.TAG
src/TILE.C
src/TILE2BIN.C
src/TILEMAP.C
src/TILETEXT.C
src/TOPL.C
src/UTILITY.TAG
src/VIDEO.C
src/VIDTXT.C
src/VIDVGA.C
src/VIS_TAB.C
src/WINJTP.C
src/WINTTY.C
win/share/MONTHIN.TXT
win/share/OBJTHIN.TXT
win/share/OTHTHIN.TXT
